flows/UserPermissionAssignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>AssignPermission</name>
        <label>AssignPermission</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>var_singlepermissionRecord.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_singlepermissionRecord.PermissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PermissionCreationLoop.Permission_Set_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CollectionAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CollectionAssignment</name>
        <label>CollectionAssignment</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>var_collectionPermissionRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_singlepermissionRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PermissionCreationLoop</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>AUM_Permission_Assigning_Exception</name>
        <label>AUM Permission Assigning Exception</label>
        <locationX>440</locationX>
        <locationY>1055</locationY>
        <customErrorMessages>
            <errorMessage>{!Error}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <environments>Default</environments>
    <interviewLabel>UserPermissionAssignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UserPermissionAssignment</label>
    <loops>
        <name>PermissionCreationLoop</name>
        <label>PermissionCreationLoop</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>permissionSet_collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignPermission</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Bulk_Permission_Set_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Bulk_Permission_Set_Assignments</name>
        <label>Create Bulk Permission Set Assignments</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <doesUpsert>true</doesUpsert>
        <faultConnector>
            <targetReference>AUM_Permission_Assigning_Exception</targetReference>
        </faultConnector>
        <inputReference>var_collectionPermissionRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getPermissionSet</name>
        <label>getPermissionSet</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PermissionCreationLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Provisioning_Rule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRules.Id</elementReference>
            </value>
        </filters>
        <object>PermissionSet_Assignment__c</object>
        <outputReference>permissionSet_collection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Permission_Set_Id__c</queriedFields>
        <queriedFields>Provisioning_Rule__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getRules</name>
        <label>getRules</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPermissionSet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Role_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.UserRole.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Profile_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Profile.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Job_Title__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Title</elementReference>
            </value>
        </filters>
        <filters>
            <field>Department__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Department</elementReference>
            </value>
        </filters>
        <filters>
            <field>isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Provisioning_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Title</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Department</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Error</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Error Assigning PermissionsSet to the User, Please try again!&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>permissionSet_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PermissionSet_Assignment__c</objectType>
    </variables>
    <variables>
        <name>var_collectionPermissionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>var_singlepermissionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
</Flow>
